<h1 class="animated fadeIn fast">Sobre comic App</h1>
<hr />
<p class="animated fadeIn">
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos modi amet dicta
  cumque, quaerat possimus porro harum quas quibusdam, excepturi aliquam.
  Accusantium sed quaerat enim eum autem inventore nesciunt nemo. Nemo, natus.
  Ducimus quae obcaecati assumenda! Commodi repellendus quod tempora modi
  voluptas, nostrum ratione voluptatibus perspiciatis aliquam, cum hic in
  consequatur velit possimus pariatur dignissimos cumque numquam rem quo
  perferendis minus maiores. Explicabo nihil vitae dolor a optio eaque nesciunt,
  eum quisquam iusto libero maxime temporibus accusamus hic fugit eos nulla
  voluptatibus beatae illum. Architecto illo saepe asperiores veniam voluptates
  aut necessitatibus cupiditate modi praesentium itaque perspiciatis a eos, odit
  quo fugiat deserunt eum. Voluptatum deleniti, hic quidem ea at cumque iste
  omnis libero. Dicta amet enim deserunt! Laboriosam corporis unde iusto ex
  animi. Obcaecati nostrum eius culpa quas aut molestias ducimus placeat
  exercitationem, iure optio tempora a unde doloribus assumenda velit ipsum
  minus minima quisquam temporibus! Pariatur corrupti amet ea, repellat facere
  ab sed vel? Nihil soluta magnam incidunt blanditiis architecto ratione
  perferendis? Dolores optio omnis et maxime dignissimos officiis eveniet iure
  cupiditate iusto. Praesentium aliquid deserunt iure eligendi! Ratione
  veritatis odit rem natus, reprehenderit eaque perspiciatis explicabo dolor
  animi voluptatum aliquam omnis tempore. Suscipit reiciendis maiores facilis
  modi.
</p>
